<!DOCTYPE HTML>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="static/styles.css" rel="stylesheet">
        <title>weather</title>
    </head>

    <body>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <div class="header">
            <h1>WEATHER!</h1>
        </div>

        <center>
        <div class="input">
            <form action="/" method="POST" id="1">
                <input autocomplete="off" autofocus name="city" id="city" placeholder="Enter city" type="text">
                <button class="btn btn-primary" type="submit">Add</button>
            </form>
        </div>
    </center>
    {% for weather in l %}
        <center>
        <div class="weather">
            <figure class="figure">
            <p>
                <br>
                    {{ weather.city }}
                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                </br>
                temp: {{ weather.temp }}C ,{{ weather.main }}
                <form action="/" method="POST" id="2">
                    <input name="delete" type="hidden" value="{{ weather.city }}">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>

            </p>
            </figure>
        </div>
    </center>
    {% endfor %}
    </body>
</html>